<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- 此文件是直接打开展示的 -->
<dict>
 <key>items</key>
 <array>
  <dict>
   <!-- KEY 测试后建议缩短 ，目前都使用https-->
   <key>assets</key>
   <array>
    <dict>
      <!-- KEY 测试后建议缩短 ，目前都使用https-->
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <!-- http或者https链接的ipa文件地址 -->
     <string>https://ad.infoxgame.com/YinHuOA-H5/app/ios/yh.ipa</string>
    </dict>
    <dict>
     <!--KEY 测试后建议缩短-->
     <key>kind</key>
     <string>full-size-image</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>
     <!-- http或者https链接的图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
     <string>https://ad.infoxgame.com/YinHuOA-H5/images/logo_im.png</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>
     <!-- http或者https链接的小图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
     <string>https://ad.infoxgame.com/YinHuOA-H5/images/logo_im.png</string>
    </dict>
   </array>
   <key>metadata</key>
   <dict>
    <key>bundle-identifier</key>
    <!-- BundleID，就是新建app时的包名 -->
    <string>com.yinhu.yhht</string>
    <key>bundle-version</key>
    <!-- 版本号-必变 -->
    <string>1.0.0</string>
    <key>kind</key>
    <string>software</string>
    <key>title</key>
    <!-- 安装app时的提示信息\拼写简单 -->
    <string>YinHu App install…</string>
   </dict>
  </dict>
 </array>
</dict>
</plist>
